In [1]:
import pandas as pd
import numpy as np

Link to Iris dataset : https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data

In [2]:
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")

In [3]:
iris.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [4]:
df = iris.copy()
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

If we directly convert the column heads to meaningful names, we lose out on one row of data. We can preserve it, by adding a new column with the current header values typecasted to the datatype of the column values (which can be fetched using dataframe.dtypes).

In [5]:
print(df.columns)
print(df.columns[0])
print(type(df.columns[0]))
print(df.iloc[0,:][0])
print(type(df.iloc[0,:][0]))

Index(['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'], dtype='object')
5.1
<class 'str'>
4.9
<class 'numpy.float64'>

In [6]:
#Type for pandas dataframe
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [7]:
df.shape

(149, 5)

In [8]:
df.columns = ["sl","sw","pl","pw","flower-type"]

In [9]:
#Gives insight into the numeric features of the dataset
df.describe()

               sl          sw          pl          pw
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [10]:
df.dtypes

sl             float64
sw             float64
pl             float64
pw             float64
flower-type     object
dtype: object

In [11]:
#Methods to access dataframe columns
print(type(df.sl))
print(type(df['sl']))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [12]:
df.isnull().sum()

sl             0
sw             0
pl             0
pw             0
flower-type    0
dtype: int64

In [13]:
df.iloc[1:4,2:4]

    pl   pw
1  1.3  0.2
2  1.5  0.2
3  1.4  0.2

In [14]:
df.drop(0, inplace=True)

In [15]:
df.head()

    sl   sw   pl   pw  flower-type
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa

In [16]:
#Gives label of the tuple at the index i of the dataframe
df.index[0]

1

In [17]:
df.drop(df.index[[0,1]], inplace=True)
df.head()

    sl   sw   pl   pw  flower-type
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa
7  4.4  2.9  1.4  0.2  Iris-setosa

In [18]:
print(type(df.sl>5))
# pd.merge(df.sl>5, df.sw>4)

<class 'pandas.core.series.Series'>

In [19]:
df[(df.sl>5) & (df.sw>4)]

     sl   sw   pl   pw  flower-type
14  5.7  4.4  1.5  0.4  Iris-setosa
31  5.2  4.1  1.5  0.1  Iris-setosa
32  5.5  4.2  1.4  0.2  Iris-setosa

In [20]:
df.rename(columns = {'flower-type':'flower_type'}, inplace=True)

In [21]:
df.head()

    sl   sw   pl   pw  flower_type
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa
7  4.4  2.9  1.4  0.2  Iris-setosa

In [22]:
df[df.flower_type=="Iris-setosa"].shape

(46, 5)

In [23]:
df[df.flower_type=="Iris-setosa"].describe()

              sl         sw         pl         pw
count  46.000000  46.000000  46.000000  46.000000
mean    5.021739   3.436957   1.469565   0.247826
std     0.358957   0.387791   0.178723   0.111034
min     4.300000   2.300000   1.000000   0.100000
25%     4.800000   3.200000   1.400000   0.200000
50%     5.000000   3.400000   1.500000   0.200000
75%     5.200000   3.700000   1.600000   0.300000
max     5.800000   4.400000   1.900000   0.600000

In [24]:
df["flower_type"].value_counts()

Iris-versicolor    50
Iris-virginica     50
Iris-setosa        46
Name: flower_type, dtype: int64

In [25]:
df.loc[0] = [1,2,3,4,"Iris-setosa"]

In [26]:
df.tail()

      sl   sw   pl   pw     flower_type
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica
0    1.0  2.0  3.0  4.0     Iris-setosa

In [27]:
df.reset_index(drop=True,inplace=True)

In [28]:
df.head()

    sl   sw   pl   pw  flower_type
0  5.0  3.6  1.4  0.2  Iris-setosa
1  5.4  3.9  1.7  0.4  Iris-setosa
2  4.6  3.4  1.4  0.3  Iris-setosa
3  5.0  3.4  1.5  0.2  Iris-setosa
4  4.4  2.9  1.4  0.2  Iris-setosa

In [30]:
df.drop('sl',axis=1).head()
#alterante method del df['sl'] -> inplace deletion

    sw   pl   pw  flower_type
0  3.6  1.4  0.2  Iris-setosa
1  3.9  1.7  0.4  Iris-setosa
2  3.4  1.4  0.3  Iris-setosa
3  3.4  1.5  0.2  Iris-setosa
4  2.9  1.4  0.2  Iris-setosa

In [31]:
df["diff_pl_pw"] = df["pl"] - df["pw"]

In [32]:
df.head()

    sl   sw   pl   pw  flower_type  diff_pl_pw
0  5.0  3.6  1.4  0.2  Iris-setosa         1.2
1  5.4  3.9  1.7  0.4  Iris-setosa         1.3
2  4.6  3.4  1.4  0.3  Iris-setosa         1.1
3  5.0  3.4  1.5  0.2  Iris-setosa         1.3
4  4.4  2.9  1.4  0.2  Iris-setosa         1.2

In [33]:
df = df[["sl","sw","pl","pw","diff_pl_pw","flower_type"]]

In [34]:
df.head()

    sl   sw   pl   pw  diff_pl_pw  flower_type
0  5.0  3.6  1.4  0.2         1.2  Iris-setosa
1  5.4  3.9  1.7  0.4         1.3  Iris-setosa
2  4.6  3.4  1.4  0.3         1.1  Iris-setosa
3  5.0  3.4  1.5  0.2         1.3  Iris-setosa
4  4.4  2.9  1.4  0.2         1.2  Iris-setosa

### Handling NaN values

In [37]:
df.iloc[2:4,1:3] = np.nan
df.head()

    sl   sw   pl   pw  diff_pl_pw  flower_type
0  5.0  3.6  1.4  0.2         1.2  Iris-setosa
1  5.4  3.9  1.7  0.4         1.3  Iris-setosa
2  4.6  NaN  NaN  0.3         1.1  Iris-setosa
3  5.0  NaN  NaN  0.2         1.3  Iris-setosa
4  4.4  2.9  1.4  0.2         1.2  Iris-setosa

In [38]:
#Not in place
df.dropna().head()

    sl   sw   pl   pw  diff_pl_pw  flower_type
0  5.0  3.6  1.4  0.2         1.2  Iris-setosa
1  5.4  3.9  1.7  0.4         1.3  Iris-setosa
4  4.4  2.9  1.4  0.2         1.2  Iris-setosa
5  4.9  3.1  1.5  0.1         1.4  Iris-setosa
6  5.4  3.7  1.5  0.2         1.3  Iris-setosa

In [40]:
df.describe()

               sl          sw          pl          pw  diff_pl_pw
count  147.000000  145.000000  145.000000  147.000000  147.000000
mean     5.838095    3.037931    3.850345    1.244898    2.572789
std      0.911595    0.445825    1.728604    0.786546    1.077641
min      1.000000    2.000000    1.000000    0.100000   -1.000000
25%      5.100000    2.800000    1.600000    0.350000    1.400000
50%      5.800000    3.000000    4.400000    1.300000    3.000000
75%      6.400000    3.300000    5.100000    1.800000    3.300000
max      7.900000    4.400000    6.900000    4.000000    4.700000

In [42]:
df.sw.fillna(df.sw.mean(),inplace=True)

In [43]:
df.head()

    sl        sw   pl   pw  diff_pl_pw  flower_type
0  5.0  3.600000  1.4  0.2         1.2  Iris-setosa
1  5.4  3.900000  1.7  0.4         1.3  Iris-setosa
2  4.6  3.037931  NaN  0.3         1.1  Iris-setosa
3  5.0  3.037931  NaN  0.2         1.3  Iris-setosa
4  4.4  2.900000  1.4  0.2         1.2  Iris-setosa

In [47]:
a = df[df["flower_type"]=="Iris-setosa"]
a.describe()

             sl         sw         pl        pw  diff_pl_pw
count  47.00000  47.000000  45.000000  47.00000   47.000000
mean    4.93617   3.390976   1.504444   0.32766    1.174468
std     0.68570   0.443513   0.290732   0.55822    0.369764
min     1.00000   2.000000   1.000000   0.10000   -1.000000
25%     4.80000   3.100000   1.400000   0.20000    1.100000
50%     5.00000   3.400000   1.500000   0.20000    1.200000
75%     5.20000   3.700000   1.600000   0.30000    1.400000
max     5.80000   4.400000   3.000000   4.00000    1.700000

In [49]:
df.pl.fillna(a.pl.mean(),inplace=True)

In [50]:
df.head()

    sl        sw        pl   pw  diff_pl_pw  flower_type
0  5.0  3.600000  1.400000  0.2         1.2  Iris-setosa
1  5.4  3.900000  1.700000  0.4         1.3  Iris-setosa
2  4.6  3.037931  1.504444  0.3         1.1  Iris-setosa
3  5.0  3.037931  1.504444  0.2         1.3  Iris-setosa
4  4.4  2.900000  1.400000  0.2         1.2  Iris-setosa

### Handling Strings

In [51]:
df["Gender"] = "Female"
df.head()

    sl        sw        pl   pw  diff_pl_pw  flower_type  Gender
0  5.0  3.600000  1.400000  0.2         1.2  Iris-setosa  Female
1  5.4  3.900000  1.700000  0.4         1.3  Iris-setosa  Female
2  4.6  3.037931  1.504444  0.3         1.1  Iris-setosa  Female
3  5.0  3.037931  1.504444  0.2         1.3  Iris-setosa  Female
4  4.4  2.900000  1.400000  0.2         1.2  Iris-setosa  Female

In [52]:
df.iloc[0:10,6] = "Male"

In [53]:
df.head()

    sl        sw        pl   pw  diff_pl_pw  flower_type Gender
0  5.0  3.600000  1.400000  0.2         1.2  Iris-setosa   Male
1  5.4  3.900000  1.700000  0.4         1.3  Iris-setosa   Male
2  4.6  3.037931  1.504444  0.3         1.1  Iris-setosa   Male
3  5.0  3.037931  1.504444  0.2         1.3  Iris-setosa   Male
4  4.4  2.900000  1.400000  0.2         1.2  Iris-setosa   Male

In [56]:
df["Gender"].value_counts()

Female    137
Male       10
Name: Gender, dtype: int64

In [63]:
def male_ohe(s):
    if s == "Male":
        return 1
    else:
        return 0

In [66]:
def female_ohe(s):
    if s == "Female":
        return 1
    else:
        return 0

In [67]:
df["Male"] = df["Gender"].apply(male_ohe)
df.head()

    sl        sw        pl   pw  diff_pl_pw  flower_type Gender  Sex  Male
0  5.0  3.600000  1.400000  0.2         1.2  Iris-setosa   Male    0     1
1  5.4  3.900000  1.700000  0.4         1.3  Iris-setosa   Male    0     1
2  4.6  3.037931  1.504444  0.3         1.1  Iris-setosa   Male    0     1
3  5.0  3.037931  1.504444  0.2         1.3  Iris-setosa   Male    0     1
4  4.4  2.900000  1.400000  0.2         1.2  Iris-setosa   Male    0     1

In [68]:
df["FeMale"] = df["Gender"].apply(female_ohe)

In [69]:
df.head()

,sl,sw,pl,pw,diff_pl_pw,flower_type,Gender,Sex,Male,FeMale
0,5.0,3.600000,1.400000,0.2,1.2,Iris-setosa,Male,0,1,0
1,5.4,3.900000,1.700000,0.4,1.3,Iris-setosa,Male,0,1,0
2,4.6,3.037931,1.504444,0.3,1.1,Iris-setosa,Male,0,1,0
3,5.0,3.037931,1.504444,0.2,1.3,Iris-setosa,Male,0,1,0
4,4.4,2.900000,1.400000,0.2,1.2,Iris-setosa,Male,0,1,0